.App {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	text-align: center;
	margin: 0 auto;
	width: 90%;
	background-color: turquoise;
}

.character__card--container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 600px;
	height: 220px;
	background-color: purple;
	border-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}

.character__card--container img {
	width: 160px;
	border-radius: 100%;
}

.character__gray {
	font-weight: 400;
	color: yellowgreen;
}

.character__details--container {
	width: 50%;
}

header {
	display: flex;
	justify-content: space-around;
	background-color: teal;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	height: 200px;
}

.header__img--container {
	display: flex;
	align-items: center;
}

.header__img--container img {
	width: 260px;
	align-self: center;
	object-position: center;
}

.header__input {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: span 2;
	height: 160px;
}
.header__input svg {
	width: 25px;
	align-self: center;
	padding-left: 10px;
}
.header__input input {
	width: 40%;
	height: 40px;
	font-weight: 600;
}

.header__input input {
	border: none;
	border-radius: 10px;
	font-size: 20px;
	padding-left: 10px;
}
.header__input input:focus {
	outline: none;
}
.buttons-container {
	display: flex;
	grid-column: span 2;
	height: 50px;
	width: 95%;
	justify-content: space-between;
}
.buttons-container button {
	height: 40px;
	align-self: center;
	width: 100px;
	text-align: center;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
}
.buttons-container button:hover {
	background-color: violet;
	color: white;
}
.buttons-container button:focus {
	outline: none;
}

@media only screen and (max-width: 1390px) {
	.App {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
@media only screen and (max-width: 710px) {
	.character__card--container {
		width: 90%;
	}
	.header__input {
		flex-direction: column;
	}
	.header__input input,
	span {
		width: 80%;
	}
	.header__input svg {
		width: 0px;
	}
}

@media only screen and (max-width: 520px) {
	.character__card--container img {
		width: 130px;
	}
}
